ul#example {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#example li { display: inline-block; }

ul#example li span {
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
}

ul#example li.seperator {
  font-size: 40px;
  line-height: 40px;
  vertical-align: top;
}

ul#example li p {
  color: #a7abb1;
  font-size: 20px;
}






ul#example2 {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#example2 li { display: inline-block; }

ul#example2 li span {
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
}

ul#example2 li.seperator {
  font-size: 40px;
  line-height: 40px;
  vertical-align: top;
}

ul#example2 li p {
  color: #a7abb1;
  font-size: 20px;
}
